
 @import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800&display=swap");
 html, body {
	 font-family: "Open Sans", sans-serif;
	 margin: 0;
	 padding: 0;
	 width: 100%;
	 height: 100%;
}
 html {
	 --selected-background-color: rgba(219, 69, 55, 0.1);
	 --selected-items-color: #db4437;
	 --svg-current-color: #909191;
	 overflow: hidden;
}
 h1, h2 {
	 margin: 0;
}
img{
	border:none;
}
svg{
	border:none;
}
 
 .right button:hover, .action-bar button:hover, .other-services button:hover, .bottom-button-wrapper button:hover {
	 opacity: 0.6;
}
 .compose-button {
	 -webkit-box-shadow: -1px 5px 9px 2px rgba(232, 232, 232, 1);
	 -moz-box-shadow: -1px 5px 9px 2px rgba(232, 232, 232, 1);
	 box-shadow: 0px 3px 10px rgba(228, 232, 235, 1);
}
 button, label {
	 cursor: pointer;
}
 button {
	 background: none;
	 border: none;
	 line-height: 0;
}
 .gmail-page {
	 display: flex;
	 flex-direction: column;
	 height: 100vh;
	 overflow: hidden;
}
 .page-content {
	 display: flex;
	 flex: 1;
	 overflow: hidden;
}
 .tab-bar {
	 justify-content: space-between;
	 height: 64px;
	 border-bottom: 1px solid #ddd;
}
 .logo-wrapper {
	 font-size: 16px;
	 color: #909191;
}
 .left {
	 justify-content: space-between;
	 width: 44%;
}
 
 .right {
	 justify-content: space-between;
}
 .right img {
	 width: 36px;
	 height: 36px;
	 border-radius: 50%;
}

 .button-wrapper {
	 padding-top: 20px;
	 padding-bottom: 20px;
}
 
 .item-wrapper label {
	 border-left: 3px solid white;
}
 .item-wrapper label svg {
	 color: var(--svg-current-color);
}
 

 
 
 .section-break {
	 width: 90%;
	 opacity: 0.4;
}
 .section-header {
	 justify-content: space-between;
}
 label .arrow {
	 position: absolute;
	 left: 5px;
}
 label span {
	 margin-left: auto;
}
 .item-name {
	 padding-left: 16px;
}
 ::-webkit-scrollbar {
	 width: 6px;
	 border-radius: 10px;
}
 ::-webkit-scrollbar-track {
	 background: none;
}
 ::-webkit-scrollbar-thumb {
	 background: rgba(216, 216, 216, 0.5);
	 border-radius: 10px;
}
 #clients:checked ~ .item-wrapper label[for="clients"] p, #expenses:checked ~ .item-wrapper label[for="expenses"] p, #reports:checked ~ .item-wrapper label[for="reports"] p, #team:checked ~ .item-wrapper label[for="team"] p, #travels:checked ~ .item-wrapper label[for="travels"] p {
	 color: black;
}
 
 .logo-2 {
	 width: 24px;
	 height: 24px;
}
 .logo-3 {
	 width: 24px;
	 height: 24px;
}
 
 #logo-1:checked ~ .label-wrapper label[for="logo-1"], #logo-2:checked ~ .label-wrapper label[for="logo-2"], #logo-3:checked ~ .label-wrapper label[for="logo-3"] {
	 border-bottom: 4px solid var(--selected-items-color);
}
 .action-bar {
	 height: 60px;
	 width: 360px;
	 border-bottom: 1px solid #ddd;
	 justify-content: space-between;
	 padding: 0 16px;
}
 .action-bar .more .circle {
	 background-color: #909191;
	 height: 3px;
	 width: 3px;
	 border-radius: 50%;
	 margin: 2px;
}
 .conversations-list {
	 display: flex;
	 flex-direction: column;
	 border-right: 1px solid #ddd;
}
 .mail-list {
	 overflow: auto;
	 flex: 1;
}
 .mail-list label {
	 border-left: 3px solid #fff;
}
 .mail {
	 width: 360px;
	 padding: 16px 12px;
	 color: #909191;
	 font-size: 14px;
	 font-weight: 400;
}
 .mail .mail-header {
	 justify-content: space-between;
}
 .mail .contact-name {
	 color: #212223;
	 font-size: 13px;
	 font-weight: 600;
}
 .profile-pic img {
	 border-radius: 50%;
	 height: 40px;
	 width: 40px;
}
 .profile-pic .profile-logo {
	 display: flex;
	 align-items: center;
	 justify-content: center;
	 border-radius: 50%;
	 height: 40px;
	 width: 40px;
}
 .profile-pic .profile-logo p {
	 margin: 0;
	 font-size: 22px;
	 font-weight: 600;
}
 .profile-pic .blue {
	 border: 1px solid #4285f4;
	 background: rgba(66, 133, 244, 0.20);
}
 .profile-pic .blue p {
	 color: #4285f4;
}
 .profile-pic .yellow {
	 border: 1px solid #f4b400;
	 background: rgba(244, 180, 0, 0.20);
}
 .profile-pic .yellow p {
	 color: #f4b400;
	 top: -44%;
	 left: 30%;
}
 .profile-pic .green {
	 border: 1px solid #0f9d58;
	 background: rgba(15, 157, 88, 0.20);
}
 .profile-pic .green p {
	 color: #0f9d58;
}
 .mail-text {
	 text-overflow: ellipsis;
	 overflow: hidden;
	 white-space: nowrap;
}
 .mail-content {
	 flex: 1;
	 overflow: hidden;
	 padding-left: 10px;
}
 .mail-content p {
	 margin: 0;
}
 #mail-1:checked ~ label[for="mail-1"] {
	 border-left: 3px solid var(--selected-items-color);
	 background: #f7f8f9;
}
 #mail-2:checked ~ label[for="mail-2"] {
	 border-left: 3px solid var(--selected-items-color);
	 background: #f7f8f9;
}
 #mail-3:checked ~ label[for="mail-3"] {
	 border-left: 3px solid var(--selected-items-color);
	 background: #f7f8f9;
}
 #mail-4:checked ~ label[for="mail-4"] {
	 border-left: 3px solid var(--selected-items-color);
	 background: #f7f8f9;
}
 #mail-5:checked ~ label[for="mail-5"] {
	 border-left: 3px solid var(--selected-items-color);
	 background: #f7f8f9;
}
 #mail-6:checked ~ label[for="mail-6"] {
	 border-left: 3px solid var(--selected-items-color);
	 background: #f7f8f9;
}
 #mail-7:checked ~ label[for="mail-7"] {
	 border-left: 3px solid var(--selected-items-color);
	 background: #f7f8f9;
}
 #mail-8:checked ~ label[for="mail-8"] {
	 border-left: 3px solid var(--selected-items-color);
	 background: #f7f8f9;
}
 #mail-9:checked ~ label[for="mail-9"] {
	 border-left: 3px solid var(--selected-items-color);
	 background: #f7f8f9;
}
 #mail-10:checked ~ label[for="mail-10"] {
	 border-left: 3px solid var(--selected-items-color);
	 background: #f7f8f9;
}
 #mail-11:checked ~ label[for="mail-11"] {
	 border-left: 3px solid var(--selected-items-color);
	 background: #f7f8f9;
}
 #mail-12:checked ~ label[for="mail-12"] {
	 border-left: 3px solid var(--selected-items-color);
	 background: #f7f8f9;
}
 #mail-13:checked ~ label[for="mail-13"] {
	 border-left: 3px solid var(--selected-items-color);
	 background: #f7f8f9;
}
 #mail-14:checked ~ label[for="mail-14"] {
	 border-left: 3px solid var(--selected-items-color);
	 background: #f7f8f9;
}
 .conversation {
	 flex: 1;
}
 .other-services {
	 width: 50px;
	 border-left: 1px solid #ddd;
	 display: flex;
	 flex-direction: column;
	 padding: 6px;
}
 .other-services button {
	 line-height: 0;
	 padding: 16px 0;
}
 .other-services svg {
	 width: 20px;
	 height: 20px;
}
 .services-top {
	 display: flex;
	 justify-content: center;
	 flex-direction: column;
}
 .services-top .section-break {
	 width: 30px;
}
 .subject-bar {
	 height: 52px;
	 border-bottom: 1px solid #ddd;
}
 .subject-bar p {
	 margin: 0;
	 color: #212223;
	 font-size: 16px;
	 font-weight: 600;
}
 .subject-bar {
	 justify-content: space-between;
	 padding: 4px 10px;
}
 .subject-bar .header {
	 display: flex;
	 justify-content: space-between;
}
 .subject-bar .header-buttons {
	 padding-left: 20px;
}
 .subject-bar .header-buttons .header-button {
	 border-radius: 4px;
	 margin-right: 6px;
	 padding: 2px 4px;
}
 .subject-bar .header-buttons .header-button button {
	 padding: 0;
	 position: relative;
	 top: 1px;
}
 .subject-bar .header-buttons .header-button p {
	 font-size: 13px;
	 line-height: 1;
}
 .subject-bar .header-buttons .header-button.inbox {
	 border: 1px solid #909191;
	 background: rgba(144, 145, 145, 0.20);
}
 .subject-bar .header-buttons .header-button.inbox svg, .subject-bar .header-buttons .header-button.inbox p {
	 color: #909191;
}
 .subject-bar .header-buttons .header-button.inbox button {
	 color: #909191;
}
 .subject-bar .header-buttons .header-button.team {
	 border: 1px solid #4285f4;
	 background: rgba(66, 133, 244, 0.20);
}
 .subject-bar .header-buttons .header-button.team svg, .subject-bar .header-buttons .header-button.team p {
	 color: #4285f4;
}
 .subject-bar .header-buttons .header-button.team button {
	 color: #4285f4;
}
 .conversation {
	 flex: 1;
	 display: flex;
	 flex-direction: column;
}
 
 .content-wrapper {
	 display: flex;
	 padding: 10px;
	 border: 1px solid #ddd;
	 border-radius: 4px;
	 background: #fff;
	 margin-bottom: 10px;
}
 .mail-content-wrapper {
	 color: #909191;
	 font-size: 13px;
	 font-weight: normal;
	 padding: 0 10px;
	 flex: 1;
}
 .mail-content-wrapper p {
	 margin: 0;
}
 .mail-content-wrapper .contact-info {
	 justify-content: space-between;
}
 .mail-content-wrapper .contact-info .contact-name {
	 color: #212223;
	 font-size: 13px;
	 font-weight: 600;
}
 .name {
	 color: #212223;
}
 .reaction-buttons {
	 padding-top: 20px;
}
 .reaction-buttons button {
	 color: #4285f4;
	 border: 1px solid #e4e8eb;
	 padding: 12px;
	 border-radius: 4px;
	 margin-right: 10px;
}
 .send {
	 background: #4285f4;
	 padding: 14px 20px;
	 font-size: 12px;
	 color: white;
	 border-radius: 4px;
}
 .bottom-icons svg {
	 width: 16px;
	 height: 16px;
}
 .bottom-button-wrapper {
	 display: flex;
	 justify-content: space-between;
}
 .mail-break {
	 width: calc(100% + 58px);
	 margin-left: -40px;
	 opacity: 0.4;
}
.ant-select-selection-item{
	background-color: #f3bc2f !important;
	border-radius: 5px !important;
	color:rgb(27, 29, 63);
}
li{
		line-height: 1.5em;
		list-style-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/4621/treehouse-marker.png);
}
footer {
    position: fixed;
    bottom: 0;
    height: 30px;
	width: 100%;
	border-top:solid 1px #ddd;
    overflow:hidden;
}
.nasaId {
	text-align: center;
	white-space: nowrap;
	width: 200px;
	overflow: hidden;
	text-overflow: ellipsis;
  }
  .Imagecontainer {
	display: flex;
	justify-content: center;
	align-content: center;
	margin: 1rem;
  }
  .button {
	transition-duration: 0.4s;
	width: 100px;
	padding: 0.5rem;
	margin: 1rem;
	background-color: white;
	color: black;
	border: 2px solid #1890ff; /* Green */
  }
  
  .button:hover {
	background-color: #1890ff; /* Green */
	color: white;
  }
  
  .button:disabled {
	opacity: 0.6;
  }
  .fullImage {
	width: 50%;
	display: block;
	margin-left: auto;
	margin-right: auto;
  }
  .content {
	padding: 10px;
	border: 1px solid #ddd;
	border-radius: 4px;
	background: #fff;
	background-image: url('components/images/Workspace3.png');
	background-repeat: no-repeat;
	background-position: center bottom;
	margin-bottom: 10px;
	min-height: 650px;
	height: 100%;
  }

  .about{
	font: 30px Tahoma, Helvetica, Arial, Sans-Serif;
	text-align: center;
	
	color: #222; text-shadow: 0px 2px 3px #555;
}

.sub_about{
	width: 500px; margin: 0 auto; background: #222; padding: 10px;
	font-size: 22px; color: #555; text-shadow: 0px 2px 3px #171717;
	
	-webkit-box-shadow: 0px 2px 3px #555;
	-moz-box-shadow: 0px 2px 3px #555;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	
}
.site-card-wrapper {
	padding: 30px;
	background: #ececec;
	width: 100%;
  }
