
 
 html, body {
	 font-family: "Open Sans", sans-serif;
	 margin: 0;
	 padding: 0;
	 width: 100%;
	 height: 100%;
}
 html {
	 --selected-background-color: rgba(219, 69, 55, 0.1);
	 --selected-items-color: #db4437;
	 --svg-current-color: #909191;
	 overflow: hidden;
}
h1{
	font-size: 1.5rem !important;
}
 h1, h2 {
	 margin: 0;
}
.h3, h3 {
    font-size: 1rem !important;
}
img{
	border:none;
}
svg{
	border:none;
}
 
 .right button:hover, .action-bar button:hover, .other-services button:hover, .bottom-button-wrapper button:hover {
	 opacity: 0.6;
}
 .compose-button {
	 -webkit-box-shadow: -1px 5px 9px 2px rgba(232, 232, 232, 1);
	 -moz-box-shadow: -1px 5px 9px 2px rgba(232, 232, 232, 1);
	 box-shadow: 0px 3px 10px rgba(228, 232, 235, 1);
}
 button, label {
	 cursor: pointer;
}
 button {
	 background: none;
	 border: none;
	 line-height: 0;
}
 .gmail-page {
	 display: flex;
	 flex-direction: column;
	 height: 100vh;
	 overflow: hidden;
}
 .page-content {
	 display: flex;
	 flex: 1;
	 overflow: hidden;
}
 .tab-bar {
	 justify-content: space-between;
	 height: 64px;
	 border-bottom: 1px solid #ddd;
}
 .logo-wrapper {
	 font-size: 16px;
	 color: #909191;
}
 .left {
	 justify-content: space-between;
	 width:70%;
}
 
 .right {
	 justify-content: space-between;
}
 .right img {
	 width: 36px;
	 height: 36px;
	 border-radius: 50%;
}

 .button-wrapper {
	 padding-top: 20px;
	 padding-bottom: 20px;
}
 
 .item-wrapper label {
	 border-left: 3px solid #ccc;
}
 .item-wrapper label svg {
	 color: var(--svg-current-color);
}
 

 
 
 .section-break {
	 width: 90%;
	 opacity: 0.4;
}
 .section-header {
	 justify-content: space-between;
}
 label .arrow {
	 position: absolute;
	 left: 5px;
}
 label span {
	 margin-left: auto;
}
 .item-name {
	 padding-left: 16px;
}
 ::-webkit-scrollbar {
	 width: 6px;
	 border-radius: 10px;
}
 ::-webkit-scrollbar-track {
	 background: none;
}
 ::-webkit-scrollbar-thumb {
	 background: rgba(216, 216, 216, 0.5);
	 border-radius: 10px;
}
 #clients:checked ~ .item-wrapper label[for="clients"] p, #expenses:checked ~ .item-wrapper label[for="expenses"] p, #reports:checked ~ .item-wrapper label[for="reports"] p, #team:checked ~ .item-wrapper label[for="team"] p, #travels:checked ~ .item-wrapper label[for="travels"] p {
	 color: black;
}
 
 .logo-2 {
	 width: 24px;
	 height: 24px;
}
 .logo-3 {
	 width: 24px;
	 height: 24px;
}
 
 #logo-1:checked ~ .label-wrapper label[for="logo-1"], #logo-2:checked ~ .label-wrapper label[for="logo-2"], #logo-3:checked ~ .label-wrapper label[for="logo-3"] {
	 border-bottom: 4px solid var(--selected-items-color);
}
.info-panel{
	/* height: 100%; */
	width: 215px;
	font-size:12px;
    margin-top: 1px;
    border-bottom: 1px solid #ddd;
    justify-content: space-between;
	padding: 10px;
	margin-left: 2px;
	text-overflow:ellipsis;
}
.list-group-item{
	height: 35px;
	padding-top: 5px;
	border-bottom: #b7b8b8 solid 1px;
	white-space: nowrap;
	-o-text-overflow: ellipsis;
	overflow: hidden;
	text-overflow: ellipsis;
}
.info-panel span{
	font-weight: 600;
	color:#292a35
}
 .action-bar {
	height: 60px;
	width: 360px;
	border-bottom: 1px solid #ddd;
	justify-content: space-between;
	padding: 0 16px;
}
 .action-bar .more .circle {
	 background-color: #909191;
	 height: 3px;
	 width: 3px;
	 border-radius: 50%;
	 margin: 2px;
}
.conversations-list {
	display: flex;
	flex-direction: column;
	border-left: 1px solid #ddd;
	overflow: auto;
	text-overflow:ellipsis;
}
 .mail-list {
	 overflow: auto;
	 flex: 1;
}
 .mail-list label {
	 border-left: 3px solid #fff;
}
 .mail {
	 width: 360px;
	 padding: 16px 12px;
	 color: #909191;
	 font-size: 14px;
	 font-weight: 400;
}
 .mail .mail-header {
	 justify-content: space-between;
}
 .mail .contact-name {
	 color: #212223;
	 font-size: 13px;
	 font-weight: 600;
}
 .profile-pic img {
	 border-radius: 50%;
	 height: 40px;
	 width: 40px;
}
 .profile-pic .profile-logo {
	 display: flex;
	 align-items: center;
	 justify-content: center;
	 border-radius: 50%;
	 height: 40px;
	 width: 40px;
}
 .profile-pic .profile-logo p {
	 margin: 0;
	 font-size: 22px;
	 font-weight: 600;
}
 .profile-pic .blue {
	 border: 1px solid #4285f4;
	 background: rgba(66, 133, 244, 0.20);
}
 .profile-pic .blue p {
	 color: #4285f4;
}
 .profile-pic .yellow {
	 border: 1px solid #f4b400;
	 background: rgba(244, 180, 0, 0.20);
}
 .profile-pic .yellow p {
	 color: #f4b400;
	 top: -44%;
	 left: 30%;
}
 .profile-pic .green {
	 border: 1px solid #0f9d58;
	 background: rgba(15, 157, 88, 0.20);
}
 .profile-pic .green p {
	 color: #0f9d58;
}
 .mail-text {
	 text-overflow: ellipsis;
	 overflow: hidden;
	 white-space: nowrap;
}
 .mail-content {
	 flex: 1;
	 overflow: hidden;
	 padding-left: 10px;
}
 .mail-content p {
	 margin: 0;
}
 #mail-1:checked ~ label[for="mail-1"] {
	 border-left: 3px solid var(--selected-items-color);
	 background: #f7f8f9;
}
 #mail-2:checked ~ label[for="mail-2"] {
	 border-left: 3px solid var(--selected-items-color);
	 background: #f7f8f9;
}
 #mail-3:checked ~ label[for="mail-3"] {
	 border-left: 3px solid var(--selected-items-color);
	 background: #f7f8f9;
}
 #mail-4:checked ~ label[for="mail-4"] {
	 border-left: 3px solid var(--selected-items-color);
	 background: #f7f8f9;
}
 #mail-5:checked ~ label[for="mail-5"] {
	 border-left: 3px solid var(--selected-items-color);
	 background: #f7f8f9;
}
 #mail-6:checked ~ label[for="mail-6"] {
	 border-left: 3px solid var(--selected-items-color);
	 background: #f7f8f9;
}
 #mail-7:checked ~ label[for="mail-7"] {
	 border-left: 3px solid var(--selected-items-color);
	 background: #f7f8f9;
}
 #mail-8:checked ~ label[for="mail-8"] {
	 border-left: 3px solid var(--selected-items-color);
	 background: #f7f8f9;
}
 #mail-9:checked ~ label[for="mail-9"] {
	 border-left: 3px solid var(--selected-items-color);
	 background: #f7f8f9;
}
 #mail-10:checked ~ label[for="mail-10"] {
	 border-left: 3px solid var(--selected-items-color);
	 background: #f7f8f9;
}
 #mail-11:checked ~ label[for="mail-11"] {
	 border-left: 3px solid var(--selected-items-color);
	 background: #f7f8f9;
}
 #mail-12:checked ~ label[for="mail-12"] {
	 border-left: 3px solid var(--selected-items-color);
	 background: #f7f8f9;
}
 #mail-13:checked ~ label[for="mail-13"] {
	 border-left: 3px solid var(--selected-items-color);
	 background: #f7f8f9;
}
 #mail-14:checked ~ label[for="mail-14"] {
	 border-left: 3px solid var(--selected-items-color);
	 background: #f7f8f9;
}
 .conversation {
	 flex: 1;
}
 .other-services {
	 width: 50px;
	 border-left: 1px solid #ddd;
	 display: flex;
	 flex-direction: column;
	 padding: 6px;
}
 .other-services button {
	 line-height: 0;
	 padding: 16px 0;
}
 .other-services svg {
	 width: 20px;
	 height: 20px;
}
 .services-top {
	 display: flex;
	 justify-content: center;
	 flex-direction: column;
}
 .services-top .section-break {
	 width: 30px;
}
 .subject-bar {
	 height: 52px;
	 border-bottom: 1px solid #ddd;
}
 .subject-bar p {
	 margin: 0;
	 color: #212223;
	 font-size: 16px;
	 font-weight: 600;
}
 .subject-bar {
	 justify-content: space-between;
	 padding: 4px 10px;
}
 .subject-bar .header {
	 display: flex;
	 justify-content: space-between;
}
 .subject-bar .header-buttons {
	 padding-left: 20px;
}
 .subject-bar .header-buttons .header-button {
	 border-radius: 4px;
	 margin-right: 6px;
	 padding: 2px 4px;
}
 .subject-bar .header-buttons .header-button button {
	 padding: 0;
	 position: relative;
	 top: 1px;
}
 .subject-bar .header-buttons .header-button p {
	 font-size: 13px;
	 line-height: 1;
}
 .subject-bar .header-buttons .header-button.inbox {
	 border: 1px solid #909191;
	 background: rgba(144, 145, 145, 0.20);
}
 .subject-bar .header-buttons .header-button.inbox svg, .subject-bar .header-buttons .header-button.inbox p {
	 color: #909191;
}
 .subject-bar .header-buttons .header-button.inbox button {
	 color: #909191;
}
 .subject-bar .header-buttons .header-button.team {
	 border: 1px solid #4285f4;
	 background: rgba(66, 133, 244, 0.20);
}
 .subject-bar .header-buttons .header-button.team svg, .subject-bar .header-buttons .header-button.team p {
	 color: #4285f4;
}
 .subject-bar .header-buttons .header-button.team button {
	 color: #4285f4;
}
 .conversation {
	 flex: 1;
	 display: flex;
	 flex-direction: column;
}
 
 .content-wrapper {
	 /* display: flex; */
	 padding: 10px;
	 border: 1px solid #ddd;
	 border-radius: 4px;
	 background: #fff;
	 margin-bottom: 10px;
}
 .mail-content-wrapper {
	 color: #909191;
	 font-size: 13px;
	 font-weight: normal;
	 padding: 0 10px;
	 flex: 1;
}
 .mail-content-wrapper p {
	 margin: 0;
}
 .mail-content-wrapper .contact-info {
	 justify-content: space-between;
}
 .mail-content-wrapper .contact-info .contact-name {
	 color: #212223;
	 font-size: 13px;
	 font-weight: 600;
}
 .name {
	 color: #212223;
}
 .reaction-buttons {
	 padding-top: 20px;
}
 .reaction-buttons button {
	 color: #4285f4;
	 border: 1px solid #e4e8eb;
	 padding: 12px;
	 border-radius: 4px;
	 margin-right: 10px;
}
 .send {
	 background: #4285f4;
	 padding: 14px 20px;
	 font-size: 12px;
	 color: white;
	 border-radius: 4px;
}
 .bottom-icons svg {
	 width: 16px;
	 height: 16px;
}
 .bottom-button-wrapper {
	 display: flex;
	 justify-content: space-between;
}
 .mail-break {
	 width: calc(100% + 58px);
	 margin-left: -40px;
	 opacity: 0.4;
}
A {
    flex: 1;
    background: none;
    border: none;
    text-decoration: none;
    color: #909191;
    font-weight: 600;
}
.steps-content {
	margin-top: 16px;
	background-repeat: no-repeat;
	background-position: center 130px;
	background-attachment: fixed;
	background-color:#464646;
	border: 1px dashed #e9e9e9;
	border-radius: 2px;
	background-color: #fafafa;
	height: 510px;
	max-height: 510px;
	width:100%;
	text-align: center;
	padding-top: 80px;
  }
  .page-content-no-background {
	margin-top: 16px;
	background-repeat: no-repeat;
	background-position: center 130px;
	background-attachment: fixed;
	background-color:#fff;
	border-radius: 2px;
	height: 510px;
	max-height: 510px;
	width:100%;
	text-align: center;
	padding-top: 80px;
  } 
  .manual-control {
	margin-top: 16px;
	background-repeat: no-repeat;
	background-position: center 130px;
	background-attachment: fixed;
	background-color:#fff;
	border-radius: 2px;
	height: 300px;
	width:100%;
	text-align: left;
	padding-top: 80px;
  }
  .steps-action {
	margin-top: 24px;
  }
  [data-theme="dark"] .steps-content {
	margin-top: 16px;
	border: 1px dashed #303030;
	background-color: rgba(255,255,255,0.04);
	color: rgba(255,255,255,0.65);
	padding-top: 80px;
  }
  .form__input{
	font-family: 'Roboto', sans-serif;
    color: #333;
    margin: 0 auto;
    border-radius: 0.2rem;
    background-color: rgb(255, 255, 255);
    border: 0.1rem solid #ccc;
    width: 90%;
    display: block;
    transition: all 0.3s;
  }
  .ant-collapse-header{
	  color:#fff !important;
	  background-color:#1890ff ;
  }
  .ant-page-header-heading-title{
	  color:rgb(3, 79, 132) !important;
  }
  .react-sanfona {
	border: 1px solid #ccc;
	border-radius: 3px;
	margin-bottom: 70px;
  }
  
  .react-sanfona-item-title {
	background-color: #fafafa;
	border-top: 1px solid #ccc;
	color: #333;
	padding: 20px;
	text-transform: uppercase;
	transition: background-color .3s;
  }
  
  .react-sanfona-item:first-child .react-sanfona-item-title {
	border-top: none;
  }
  
  .react-sanfona-item-expanded .react-sanfona-item-title {
	background-color:  rgb(39, 164, 254);
	color: #fff;
  }
  .react-sanfona-item-expanded .react-sanfona-item-title.title-done-btn {
		display: inline-block;
		float: right;
		color: #000;
	}
  .react-sanfona-item-body-wrapper {
	color: #666;
	padding: 20px;
	position: relative;
  }
  
  .react-sanfona-item-body-wrapper:hover .tooltip {
	opacity: 1;
  }
  .ant-card-head{
	  background-color: rgb(39, 164, 254) !important;
	  color:#fff !important;
  }
  .divider-line{
	height:20px;
	width:100%;
}
footer {
    position: fixed;
    bottom: 0;
    height: 25px;
	width: 100%;
    overflow:hidden;
	text-align:center;
	color: #fff;
	background-color:#40a9ff;
}
.timer{
	color:rgb(3, 79, 132);
}
.jumbotron {
    padding: 10px !important;
    margin-bottom: 10px !important;
    background-color: #fff !important;
    border-radius: .3rem;
}